[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
asyncpg = "*"
uvicorn = "*"
sqlmodel = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pytz = "*"
passlib = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
